.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    color: white;
}

.login-logo img {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 550px;
    height: 440px;
}

.login-rigth {
    background-color: #ef8183;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 350px;
    height: 400px;
}

    .login-rigth h1 {
        font-family: "Roboto Slab";
        font-size: 50px;
    }

    .login-rigth h4 {
        font-family: "Roboto Slab";
        font-weight: 300;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 500;
        color: #e1e1e6;
    }

.login-loginInputEmail {
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 4.85410196625px;
}

    .login-loginInputEmail svg {
        margin-left: 10px;
        margin-right: 25px;
    }

    .login-loginInputEmail input {
        background-color: transparent;
        width: 100%;
        outline-width: 0;
        color: #E1E1E6;
        border: none;
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }

.login-loginInputSenha {
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

    .login-loginInputSenha svg {
        margin-left: 10px;
        margin-right: 25px;
    }

    .login-loginInputSenha input {
        background-color: transparent;
        width: 100%;
        outline-width: 0;
        color: #E1E1E6;
        border: none;
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }

.login-rigth button, .login-rigth a {
    width: 98%;
    background-color: #20202224;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 5px;
    border: none;
    outline-width: 0;
}

.login-rigth a {
}


.login-rigth button:hover {
    background-color: #29292e;
    color: #EFF2F5;
    cursor: pointer;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    color: white;
}

.login-logo img {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 550px;
    height: 440px;
}

.login-rigth {
    background-color: #ef8183;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 350px;
    height: 400px;
}

    .login-rigth h1 {
        font-family: "Roboto Slab";
        font-size: 50px;
    }

    .login-rigth h4 {
        font-family: "Roboto Slab";
        font-weight: 300;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 500;
        color: #e1e1e6;
    }

.login-loginInputEmail {
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 4.85410196625px;
}

    .login-loginInputEmail svg {
        margin-left: 10px;
        margin-right: 25px;
    }

    .login-loginInputEmail input {
        background-color: transparent;
        width: 100%;
        outline-width: 0;
        color: #E1E1E6;
        border: none;
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }

.login-loginInputSenha {
    display: flex;
    align-items: center;
    color: grey;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

    .login-loginInputSenha svg {
        margin-left: 10px;
        margin-right: 25px;
    }

    .login-loginInputSenha input {
        background-color: transparent;
        width: 100%;
        outline-width: 0;
        color: #E1E1E6;
        border: none;
        font-size: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }

.login-rigth button, .login-rigth a {
    width: 98%;
    background-color: #20202224;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 5px;
    border: none;
    outline-width: 0;
}

.login-rigth a {
    align-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.login-rigth button:hover, .login-rigth a:hover {
    background-color: #29292e;
    color: #EFF2F5;
    cursor: pointer;
}
